/**/.vs/
/packages/
/Release/
/x86/Release/
/x86/Debug/
/Win32/Release/
/Win32/Debug/
/x86Release/
/x86Debug/
/Win32Release/
/Win32Debug/
/Debug/
/x64/
/x64Release/
/x64Debug/
/ToothTray/Release/
/ToothTray/Debug/
/ToothTray/x64/
/ToothTrayCLI.zip

